#tooltip {
  background-color: #000;
  min-width: 100px;
  min-height: 20px;
  z-index: 40;
  color: #FFF;
  padding: 10px;
  border-radius: 15px;
}

#tooltip h4 {
  margin: 0;
  margin-bottom: 10px;
}

#tooltip h5 {
  margin: 0;
  margin-bottom: 5px;
}

.tick text {
  font-size: 1.2em;

  @media screen and (max-width: 768px) {
    font-size: 1.6em;
  }
}

.legend-entry text {
  font-size: 1.1em;

  @media screen and (max-width: 1024px) {
    font-size: 1.4em;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.8em;
  }
}

.pie-chart text {
  font-size: 1.2em;
}

#pietip {
  fill: #000000;
}

#pietip .pietip-title {
  font-family: $comfortaa;
  font-size: 1.4em;
}

#pietip .pietip-gross {
  // font-family: $comfortaa;
  font-size: 0.9em;
  fill: $magenta;
}

#pietip .pietip-pct {
  font-family: $abel;
  font-size: 0.9em;
  fill: #000000;
}

#tooltip .tooltip-title {
  font-family: $comfortaa;
  font-size: 1.1em;
}

#tooltip .tooltip-data {
  font-family: $abel;
  font-size: 1em;
  fill: $magenta;

}

.boxoffice-heading {
  font-family: $comfortaa;
  font-size: 1.1em;
  fill: $haloMagenta;
}
