$comfortaa: 'Comfortaa', Verdana, sans-serif;
$abel: 'Abel', 'Arial Narrow', sans-serif;

h1, h2, h3, h4, h5, h6, th {
  font-weight: 100;
  font-family: $comfortaa;
}

p, a, li, td, div {
  font-family: $abel;
  margin: 0;
}

a {
  text-decoration: none;
  color: $cyan;
  &:hover {
    color: $lighterCyan;
  }
  &:active {
    color: $darkerCyan;
  }
  &:visited {
    color: $cyan;
  }
}
